.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  display: flex;
  flex: row;
}

.title {
  font-size: 20px;
  font-weight: bold;
  z-index: 1;
}

.instructions {
  font-size: 10px;
  z-index: 1;
}

.large {
  width: 150px;
  height: 40px;
  margin-right: 5px;
  vertical-align: top;
}

.medium {
  width: 110px;
  height: 35px;
  margin-right: 5px;
  vertical-align: top;
  margin-top: 8px;
}

.small {
  width: 60px;
  height: 30px;
  margin-right: 5px;
  vertical-align: top;
  margin-top: 9px;
}

.rowboat {
  width: 40px;
  margin-right: 5px;
  vertical-align: top;
  margin-top: 12px;
}

.hidden {
  display: none;
}

.cell {
  width: 40px;
}

.setHeight {
  height: 50px;
}

.label {
  font-size: 12px;
  font-weight: bold;
}

.text {
  font-size: 11px;
}

.chosen {
  border: 2px solid #109ed2;
}

.blue {
  background: #96afe8;
}

.black {
  background: black;
}

.red {
  background: red;
}

.anchorIsSet {
  opacity: .4;
}
